.error-page-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
    gap: 30px;
}

.error-404 {
    display: flex;
    gap: 45px;
}

.error-page-not-fount {
    color: black;
}
.error-page-btnMain {
    background-color: black;
    color: yellow;
    width: 1300px;
    height: 50px;
}